<% layout('./layouts/boilerplate.ejs') -%>

<div class="profile mt-3 col-6 offset-3">
    <h3>Your Profile</h3>
    <div class="mb-3">
        <label for="username" class="form-label">Username: </label>
        <input type="text" class="form-control" id="username" placeholder="name@example.com" value="<%= currUser.username %>">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address: </label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com" value="<%=currUser.email%>">
    </div>
</div>